
.message{
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	overflow: visible;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition-property: top, left, width, height, opacity;
	   -moz-transition-property: top, left, width, height, opacity;
	    -ms-transition-property: top, left, width, height, opacity;
	     -o-transition-property: top, left, width, height, opacity;
	        transition-property: top, left, width, height, opacity;
	-webkit-transition-timing-function: ease;
	   -moz-transition-timing-function: ease;
	    -ms-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: .2s;
	   -moz-transition-duration: .2s;
	    -ms-transition-duration: .2s;
	     -o-transition-duration: .2s;
	        transition-duration: .2s;
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.message svg{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.message_body{
	overflow: visible;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	opacity: 1;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition-property: top, left, width, height, opacity;
	   -moz-transition-property: top, left, width, height, opacity;
	    -ms-transition-property: top, left, width, height, opacity;
	     -o-transition-property: top, left, width, height, opacity;
	        transition-property: top, left, width, height, opacity;
	-webkit-transition-timing-function: ease;
	   -moz-transition-timing-function: ease;
	    -ms-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: 1s;
	   -moz-transition-duration: 1s;
	    -ms-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

.message_body > div{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	height: 100%;
}