@charset 'utf-8';

header{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	font-family: 'Basic', sans-serif;
}

header.permeated{
	opacity: 0.5;
}

header:before{
	overflow: hidden;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
	-webkit-transition: all .5s ease-in .5s;
	   -moz-transition: all .5s ease-in .5s;
	    -ms-transition: all .5s ease-in .5s;
	     -o-transition: all .5s ease-in .5s;
	        transition: all .5s ease-in .5s;
}

header.current:before{
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: blur(0px);
}

header hgroup{
	position: absolute;
	display: block;
	top: 50%;
	left: 20%;
	width: 20%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all .5s ease 0s;
	   -moz-transition: all .5s ease 0s;
	    -ms-transition: all .5s ease 0s;
	     -o-transition: all .5s ease 0s;
	        transition: all .5s ease 0s;
	-webkit-transform: translate(-50%, -150%);
	   -moz-transform: translate(-50%, -150%);
	    -ms-transform: translate(-50%, -150%);
	     -o-transform: translate(-50%, -150%);
	        transform: translate(-50%, -150%);
}

header.current hgroup{
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

header hgroup > div > *{
	margin: 0;
	line-height: 1;
	font-weight: normal;
	text-align: center;
}

header hgroup div{
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);	
	top: 50%;
	left: 50%;
}

header hgroup h1{
	color: rgba(255,255,255,1.0);
	padding-bottom: 0.2em;
}

header hgroup h2{
	color: rgba(200,200,200,0.8);
	font-size: 0.8em;
}

header h1,
header h2{
	-webkit-transition: all .5s ease .5s;
	   -moz-transition: all .5s ease .5s;
	    -ms-transition: all .5s ease .5s;
	     -o-transition: all .5s ease .5s;
	        transition: all .5s ease .5s;
	-webkit-filter: blur(10px);
	   -moz-filter: blur(10px);
	    -ms-filter: blur(10px);
	     -o-filter: blur(10px);
	        filter: blur(10px);
}

header.current h1,
header.current h2{
	-webkit-filter: blur(0px);
	   -moz-filter: blur(0px);
	    -ms-filter: blur(0px);
	     -o-filter: blur(0px);
	        filter: blur(0px);
}