@charset 'utf-8';

html, body{
	width: 100%;
	height: 100%;
	min-width: 600px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 10em;
	position: relative;
}

header a{
	text-decoration: none;
	color: #FFF;
}

header:after{
	content: "";
	display: block;
	width: 100%;
	height: 10em;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
	left: 10em;
}

header > *{
	margin: 0;
}

header h1{
	position: relative;
	float: left;
	height: 5em;
	width: 5em;
	margin: 0;
	margin-bottom: 1.0em;
	background-color: rgba(0,0,0,0.5);
	color:	rgba(255,255,255,1);
	font-weight: normal;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

header h1:hover{
	-webkit-transform: rotate(-360deg);
	   -moz-transform: rotate(-360deg);
	    -ms-transform: rotate(-360deg);
	     -o-transform: rotate(-360deg);
	        transform: rotate(-360deg);	
}

header h1 span{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2em;
	line-height: 1;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

header h1 span em{
	font-style: normal;
	font-weight: normal;
	font-size: 40%;
	display: inline-block;
	-webkit-transform: translate(0%, -130%);
	   -moz-transform: translate(0%, -130%);
	    -ms-transform: translate(0%, -130%);
	     -o-transform: translate(0%, -130%);
	        transform: translate(0%, -130%);
}

section{
	border: solid 1px #CCC;
	margin: 5em auto 2em;
	width: 30em;
	height: 20em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 2em;
	background-color: rgba(0,0,0,0.1);
}

section h1{
	height: 2.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	font-size: 1.2em;
	padding: 0.5em;
	text-align: center;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}

section > form{
	width: 100%;
	height: 100%;
}

#inputEventCode{
	margin-top: 1.5em;
}

#inputEventCode,
#loginButton{
	width: 100%;
	height: 6em;
	padding: 1.2em ;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#inputEventCode > input,
#loginButton > div{
	width: 100%;
	height: 100%;
	padding: 0.5em;
	font-size: 120%;
	position: relative;
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#loginButton > div{
	position: relative;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

#loginButton > div:hover{
	background-color: rgba(0,0,0,0.8);
	color: #EEE;
}

#loginButton > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}


section form input[type=submit]{
	display: none;
}

#link_createEvent{
	width: 100%;
	margin: 0.5em auto;
	text-align: center;
}

#link_createEvent > a{
	display: inline-block;
	padding: 0.5em;
	color: #666;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

#link_createEvent > a:hover{
	display: inline-block;
	color: #000;
	text-decoration: none;
	background-color: rgba(0,0,0,0.1);
}