/*
// = visitor.css
// - 説明
// 		~ ビジター全体で共通のスタイルを定義する
// - 文字コード
// 		~ UTF-8
// - 参照されるファイル
//		~ visitor.html
// - 作成者
//		~ ヨコヤマタク
// 		~ B2266@oic.jp
// - 最終更新日
//		~ 2013-12-06
*/

/*========================================
	文字コードの宣言
----------------------------------------*/
@charset 'utf-8';

/*========================================
	一般的な設定
		ex) html, body, etc...
----------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	overflow: hidden;/*
	overflow: scroll;*/
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #EEE;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

}

/*======================================*/

/*========================================
	article#visitorAppの設定
----------------------------------------*/
article#visitorApp{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

article#visitorApp > section.visitorAppPage{
	-webkit-transition-property	: -webkit-transform;
	   -moz-transition-property	: -moz-trasform;
	    -ms-transition-property	: -ms-trasform;
	     -o-transition-property	: -o-trasform;
	        transition-property	: trasform;
	-webkit-transition			: .3s ease 0s;
	   -moz-transition			: .3s ease 0s;
	    -ms-transition			: .3s ease 0s;
	     -o-transition			: .3s ease 0s;
	        transition			: .3s ease 0s;
}

article#visitorApp.startPageView > section.visitorAppPage{
	-webkit-transform: translate(0%, 0%);
	   -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	     -o-transform: translate(0%, 0%);
	        transform: translate(0%, 0%);
}

article#visitorApp.optionSettingPageView > section.visitorAppPage{
	-webkit-transform: translate(0%, -100%);
	   -moz-transform: translate(0%, -100%);
	    -ms-transform: translate(0%, -100%);
	     -o-transform: translate(0%, -100%);
	        transform: translate(0%, -100%);
}

article#visitorApp.sendMessagePageView > section.visitorAppPage{
	-webkit-transform: translate(0%, -200%);
	   -moz-transform: translate(0%, -200%);
	    -ms-transform: translate(0%, -200%);
	     -o-transform: translate(0%, -200%);
	        transform: translate(0%, -200%);
}

article#visitorApp.controlMessageView > section.visitorAppPage{
	-webkit-transform: translate(0%, -300%);
	   -moz-transform: translate(0%, -300%);
	    -ms-transform: translate(0%, -300%);
	     -o-transform: translate(0%, -300%);
	        transform: translate(0%, -300%);
}

article#visitorApp.endPageView > section.visitorAppPage{
	-webkit-transform: translate(0%, -400%);
	   -moz-transform: translate(0%, -400%);
	    -ms-transform: translate(0%, -400%);
	     -o-transform: translate(0%, -400%);
	        transform: translate(0%, -400%);
}

/*======================================*/

/*========================================
	section.visitorAppPageの設定
----------------------------------------*/
section.visitorAppPage{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

section.visitorAppPage > section{
	width: 100%;
	position: relative;
}
/*======================================*/