@charset 'utf-8';

#controlMessage{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#controlMessage > .pageContent{
	width: 100%;
	height: 100%;
}

#controlArrowBox,
#controlStick{
	position: absolute;
	width : 30em;
	height: 30em;
	min-width: 30%;
	min-height: 30%;
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#controlArrowBox{
	z-index: 0;
}

#controlStick{
	z-index: 100;
}

#controlStickBody{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 12em;
	height: 12em;
	border-radius: 50%;
	background-color: rgba(100,100,100,0.7);
	border: solid 2.0em rgba(70,70,70,0.7);
	-webkit-transition: background-color .2s linear, border-color .2s linear;
	   -moz-transition: background-color .2s linear, border-color .2s linear;
	    -ms-transition: background-color .2s linear, border-color .2s linear;
	     -o-transition: background-color .2s linear, border-color .2s linear;
	        transition: background-color .2s linear, border-color .2s linear;
}

#controlStickBody:active{
	background-color: rgba(100,100,100,1);
	border: solid 2.0em rgba(70,70,70,1);	
}

#controlArrowBox > div{
	height: 33%;
}

#controlArrowBox > div > div{
	width: 33%;
}

#controlArrowBox > .middleSection > .lefter{
	float: left;
}

#controlArrowBox > .middleSection > .righter{
	float: right;
}