/*========================================
	文字コードの宣言
----------------------------------------*/
@charset 'utf-8';

#hostPages{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#hostPages > ul{
	list-style: none;
}

.hostPagesGroup,
.hostPage{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.hostPage{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 110px;
	padding-left: 200px;
}

.hostPageBody{
	position: relative;
	margin: 0 auto;
	width: 95%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.hostPage h1{
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 15px;
	width: 100%;
	height: 10%;
	color: #EEE;
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
}

.hostPage h1 span{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#eventOptionSettingPages h1{
	background-color: rgba(192, 57, 43,1.0);
}

#eventStatusControlPages h1{
	background-color: rgba(243, 156, 18,1.0);
}

#hostMessageSendPages h1{
	background-color: rgba(46, 204, 113,1.0);
}

#eventCodeCheckingPages h1{
	background-color: rgba(41, 128, 185,1.0);
}

.hostPageContent{
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
	padding: 10px;
	width: 100%;
	height: 90%;
}

.selectList,
.selectedsampleBody{
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 100%;
	border-top: solid 3px rgba(50,50,50,0.1);
	border-right: solid 3px rgba(200,200,200,0.1);
	border-bottom: solid 3px rgba(200,200,200,0.1);
	border-left: solid 3px rgba(50,50,50,0.1);
	border-radius: 3px;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

.selectList > li{
	position: relative;
	float: left;	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 5px;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(50,50,50,1) rgba(30,30,30,1) rgba(30,30,30,1) rgba(50,50,50,1);
	background-color: rgba(40,40,40,1);
}

.selectList > li.selected,
.selectList > li:hover{
	border-color: rgba(70,70,70,1) rgba(60,60,60,1) rgba(60,60,60,1) rgba(70,70,70,1);
	background-color: rgba(65,65,65,1);	
}

.selectList > li:hover{
	border-color: rgba(60,60,60,1) rgba(40,40,40,1) rgba(40,40,40,1) rgba(60,60,60,1);
	background-color: rgba(50,50,50,1);	
}

#registerStartLogoPage .selectList > li,
#registerEndLogoPage .selectList > li{
	width: 20%;
	height: 120px;
}

#registerStartLogoPage .selectList > li > div,
#registerEndLogoPage .selectList > li > div{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#registerVisitorMessageShapePage .selectList > li,
#registerVisitorMessageColorPage .selectList > li{
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: auto;
}

#registerVisitorMessageShapePage .selectList > li > ul,
#registerVisitorMessageColorPage .selectList > li > ul{
	display: block;
}

#registerVisitorMessageShapePage .selectList > li > ul:after,
#registerVisitorMessageColorPage .selectList > li > ul:after{
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 100%;
	content: "";
}

#registerVisitorMessageShapePage .selectList > li > ul > li,
#registerVisitorMessageColorPage .selectList > li > ul > li{
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 20%;
	height: 120px;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(100, 100, 100, 0.1) rgba(100, 100, 100, 0.1) rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.2);
}

#registerVisitorMessageShapePage .selectList > li > ul > li > div,
#registerVisitorMessageColorPage .selectList > li > ul > li > div{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 85%;
	height: 85%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.optionregister{
	width: 40%;
	height: 100%;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
}

.selectedsample{
	height: 80%;
}

.selectedsampleBody{
	position: relative;
}

#registerStartLogoPage .selectedsampleBody > div,
#registerEndLogoPage .selectedsampleBody > div{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
	width: 90%;
	height: 90%;
	border-width: 3px;
	border-style: solid;
	border-color: #EEE #AAA #AAA #EEE;
	border-radius: 3px;
	background-color: #CCC;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#registerVisitorMessageColorPage .selectedsampleBody > ul,
#registerVisitorMessageShapePage .selectedsampleBody > ul{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(50,50,50,1) rgba(30,30,30,1) rgba(30,30,30,1) rgba(50,50,50,1);
	border-radius: 5px;
	background-color: rgba(40,40,40,1);
	list-sle: none;
}

#registerVisitorMessageColorPage .selectedsampleBody > ul:after,
#registerVisitorMessageShapePage .selectedsampleBody > ul:after{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 0px;
	content: "";
}

#registerVisitorMessageColorPage .selectedsampleBody > ul > li,
#registerVisitorMessageShapePage .selectedsampleBody > ul > li{
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 5px;
	width: 50% ;
	height: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) rgba(100,100,100,0.1) rgba(100,100,100,0.1) rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.2);
}

#registerVisitorMessageColorPage .selectedsampleBody > ul > li > div, 
#registerVisitorMessageShapePage .selectedsampleBody > ul > li > div{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.registerButton{
	height: 20%;
}

.selectItemBody{
}

.registerButtonBody{
	position: relative;
	overflow: visible;	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 100%;	
	background-color: rgba(192, 57, 43, 0.8);
	color: #999;
	text-align: center;
	font-size: 18px;
	cursor: pointer;		
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}

.registerButtonBody:hover{
	background-color: rgba(192, 57, 43, 1);
	color: #FFF;
}

.registerButtonBody:active{	
	background-color: rgba(192, 57, 43, 0.9);
}


.registerButtonBody span{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

#eventOptionSettingPages .hostPageContent > section,
#eventOptionSettingPages .hostPageContent > section > section{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 5px;
}

#eventOptionSettingPages .optionSelect{
	width: 60%;
	height: 100%;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
}

#registerStartLogoPage  .optionSelect > section,
#registerEndLogoPage .optionSelect > section{
	width: 100%;
	height: 50%;
}

#registerVisitorMessageColorPage .optionSelect > section,
#registerVisitorMessageShapePage .optionSelect > section{
	width: 100%;
	height: 100%;
}

/*=====*/

#eventControlPanel{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 90%;
	height: 80%;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) rgba(100,100,100,0.1) rgba(100,100,100,0.1) rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#statusView{
	position: absolute;
	top: 50%;
	left: 50%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 90%;
	height: 80%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#statusView > div{
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 50%;
	height: 100%;
	cursor: pointer;
}

#statusView > div > .border{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-width: 10px;
	border-style: solid;
	background-color: rgba(255,255,255,0.1);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;	
}

#statusView > div > .border:hover{
	background-color: rgba(0,0,0,0.2);
}

#statusView > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	display: block;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#stop_button{
	border-radius: 50px 0 0 50px;
	background-color: #f1c40f;	
}

#stop_button .border{
	border-radius: 50px 0 0 50px;	
}

#active_button{
	border-radius: 0 50px 50px 0;
	background-color: #1abc9c;
}

#active_button .border{
	border-radius: 0 50px 50px 0;	
}

#statusView.active #stop_button .border,
#statusView.stop #active_button .border{
	border-color: rgba(50,50,50,0.4) rgba(120,120,120,0.4) rgba(120,120,120,0.4) rgba(50,50,50,0.4);
	background-color: rgba(0, 0, 0, 0.5);
}

#statusView.stop #stop_button .border,
#statusView.active #active_button .border{
	border-color: rgba(120,120,120,0.4) rgba(50,50,50,0.4) rgba(50,50,50,0.4) rgba(120,120,120,0.4);
	background-color: rgba(0, 0, 0, 0.0);
}


/*=====*/

#hostMessageSendPages .hostPageContent{
	display: block;
}

#hostMessageSendPages .hostPageContent > *{
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#hostMessageSendPages .messageOption{
	float: left;
	padding: 5px;
	width: 50%;
	height: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) rgba(100,100,100,0.1) rgba(100,100,100,0.1) rgba(0,0,0,0.1);
	background-color:  rgba(0,0,0,0.1);
	font-size: 20px;
	line-height: 1;
}

#hostMessageSendPages .messageOption > section{
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 5px;
	padding: 3px;
	width: 100%;
	border-width: 2px;
	border-color: rgba(100,100,100,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(100,100,100,0.1);
	background-color:  rgba(100,100,100,0.1);
}

#hostMessageSendPages .messageOption > section:first-child{
	margin-top: 0;
}

#hostMessageSendPages .appearOption,
#hostMessageSendPages .disappearOption{
	float: right;
	width: 50%;
	height: 30%;
}

#hostMessageSendPages .messageSample{
	float: right;
	width: 50%;
	height: 25%;
}

#hostMessageSendPages .registerButton{
	float: right;
	width: 50%;
	height: 15%;
}

#hostMessageSendPages .layerType{
	padding: 5px;
}

#hostMessageSendPages .layerType .toggle_item{
	width: 50%;
}

#hostMessageSendPages .layerType > div{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#hostMessageSendPages .toggle_group{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 5px;
}

#hostMessageSendPages .toggle_group:after{
	display: block;
	float: left;
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 0px;
	content: "";
}

#hostMessageSendPages .toggle_item{
	position: relative;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: rgba(100,100,100,0.3);
	height: 40px;	
}

#hostMessageSendPages .toggle_item.selected{
	color: rgba(200,200,200,1);	
}

#hostMessageSendPages .toggle_item span{
	display: block;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);	
}

#hostMessageSendPages .toggle_item:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;s
	display: block;
	width: 95%;
	height: 95%;
	border: solid 3px rgba(100,100,100,0.1);
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	content: "";
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#hostMessageSendPages .toggle_item.selected:after{
	background-color: rgba(0, 0, 0, 0.3);
	border: solid 3px rgba(100,100,100,0.3);	
}


/*=====*/
