/*
// = host.css
// - 説明
// 		~ ビジター全体で共通のスタイルを定義する
// - 文字コード
// 		~ UTF-8
// - 参照されるファイル
//		~ visitor.html
// - 作成者
//		~ ヨコヤマタク
// 		~ B2266@oic.jp
// - 最終更新日
//		~ 2013-12-06
*/

/*========================================
	文字コードの宣言
----------------------------------------*/
@charset 'utf-8';

/*========================================
	画面サイズごとのフォントの大きさ
----------------------------------------*/
/*	画面サイズが300px以下	*/
@media screen and (min-width: 300px) {
	body, input{
		font-size: 10px;
	}
}
/*	画面サイズが400px以下	*/
@media screen and (min-width: 400px) {
	body, input{
		font-size: 14px;
	}
}
/*	画面サイズが500px以下	*/
@media screen and (min-width: 500px) {
	body, input{
		font-size: 18px;
	}
}
/*	画面サイズが600px以下	*/
@media screen and (min-width: 600px) {
	body, input{
		font-size: 22px;
	}
}
/*	画面サイズが700px以下	*/
@media screen and (min-width: 700px) {
	body, input{
		font-size: 26px;
	}
}
/*	画面サイズが800px以下	*/
@media screen and (min-width: 800px) {
	body, input{
		font-size: 30px;
	}
}
/*	画面サイズが900px以下	*/
@media screen and (min-width: 900px) {
	body, input{
		font-size: 34px;
	}
}
/*	画面サイズが100px以下	*/
@media screen and (min-width: 1000px) {
	body, input{
		font-size: 38px;
	}
}
/*======================================*/

/*========================================
	一般的な設定
		ex) html, body, etc...
----------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 700px;
	min-height: 700px;
	background-color: #333;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*======================================*/

/*========================================
	article#visitorAppの設定
----------------------------------------*/
article#hostApp{
	width: 100%;
	height: 100%;
	min-width: 700px;
	min-height: 700px;	
}

*{
	overflow: hidden;
}

article *{
	-webkit-transition: -webkit-transform 	.5s ease;
	   -moz-transition: -moz-transform 		.5s ease;
	    -ms-transition: -ms-transform 		.5s ease;
	     -o-transition: -o-transform 		.5s ease;
	        transition: transform 			.5s ease;
}

.overLeft{
	-webkit-transform: translate(-100%, 0);
	   -moz-transform: translate(-100%, 0);
	    -ms-transform: translate(-100%, 0);
	     -o-transform: translate(-100%, 0);
	        transform: translate(-100%, 0);
}

.overRight{
	-webkit-transform: translate(100%, 0);
	   -moz-transform: translate(100%, 0);
	    -ms-transform: translate(100%, 0);
	     -o-transform: translate(100%, 0);
	        transform: translate(100%, 0);
}

.overTop{
	-webkit-transform: translate(0, -100%);
	   -moz-transform: translate(0, -100%);
	    -ms-transform: translate(0, -100%);
	     -o-transform: translate(0, -100%);
	        transform: translate(0, -100%);	
}

.overBottom{
	-webkit-transform: translate(0, 100%);
	   -moz-transform: translate(0, 100%);
	    -ms-transform: translate(0, 100%);
	     -o-transform: translate(0, 100%);
	        transform: translate(0, 100%);	
}
/*======================================*/