@charset "utf-8";

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header{
	position: absolute;
	width: 100%;
	height: 5em;
	top: 0;
	left: 0;
}

header > *{
	margin: 0;
}

header h1{
	position: relative;
	float: left;
	height: 5em;
	width: 5em;
	margin: 0;
	background-color: rgba(0,0,0,0.5);
	color:	rgba(255,255,255,1);
	font-weight: normal;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

header h1:hover{
	-webkit-transform: rotate(-360deg);
	   -moz-transform: rotate(-360deg);
	    -ms-transform: rotate(-360deg);
	     -o-transform: rotate(-360deg);
	        transform: rotate(-360deg);	
}

header h1 span{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2em;
	line-height: 1;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

header h1 span em{
	font-style: normal;
	font-weight: normal;
	font-size: 40%;
	display: inline-block;
	-webkit-transform: translate(0%, -130%);
	   -moz-transform: translate(0%, -130%);
	    -ms-transform: translate(0%, -130%);
	     -o-transform: translate(0%, -130%);
	        transform: translate(0%, -130%);
}


/*==*/

nav{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 60%;
	min-width: 300px;
	min-height: 300px;
}

nav ul{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

nav ul li{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	width: 100%;
	height: 25%;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

nav ul li:hover{
	background-color: rgba(0,0,0,0.2);
	border-top: 2px solid rgba(255,255,255,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.1);

}

nav ul li a{
	position: relative;
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

nav ul li a span{
	position: absolute;
	top: 50%;
	left: 10%;
	color: rgba(255,255,255, 0.5);
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	     -o-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
}

nav ul li a:hover span{
	color: rgba(255,255,255,1);
}

nav ul li a:after{
	content: "";
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 2em;
	height: 2em;
	border-top: solid 0em rgba(255,255,255,0);
	border-left: solid 0em rgba(255,255,255,0);
	border-right: solid 0.3em rgba(255,255,255,0.5);
	border-bottom: solid 0.3em rgba(255,255,255,0.5);
	display: block;
	position: absolute;
	top: 50%;
	right: 1em;
	-webkit-transform: translate(0%, -50%)  rotate(-45deg);
	   -moz-transform: translate(0%, -50%)  rotate(-45deg);
	    -ms-transform: translate(0%, -50%)  rotate(-45deg);
	     -o-transform: translate(0%, -50%)  rotate(-45deg);
	        transform: translate(0%, -50%)  rotate(-45deg);
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

nav ul li a:hover:after{
	content: "";
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 1.4em;
	height: 1.4em;
	border-top: solid 0.5em rgba(255,255,255,1);
	border-left: solid 0.5em rgba(255,255,255,1);
	border-right: solid 0.5em rgba(255,255,255,1);
	border-bottom: solid 0.5em rgba(255,255,255,1);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	right: 1em;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;	
	-webkit-transform: translate(0%, -50%)  rotate(45deg);
	   -moz-transform: translate(0%, -50%)  rotate(45deg);
	    -ms-transform: translate(0%, -50%)  rotate(45deg);
	     -o-transform: translate(0%, -50%)  rotate(45deg);
	        transform: translate(0%, -50%)  rotate(45deg);	
}

section#menber{
	width: 10em;
	height: 100%;
	position: absolute;
	top: 10em;
	left: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 1em;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

section#menber:hover{
	width: 20em;
}

section#menber dl{
	font-size: 100%;
	opacity: 0;
	-webkit-transition: all 1s ease 0.25s;
	   -moz-transition: all 1s ease 0.25s;
	    -ms-transition: all 1s ease 0.25s;
	     -o-transition: all 1s ease 0.25s;
	        transition: all 1s ease 0.25s;
}

section#menber:hover dl{
	opacity: 1;
}

section#menber dl dt,
section#menber dl dd{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

section#menber dl dt{
	text-align: left;
	margin-bottom: 0.3em;
}

section#menber dl dd{
	text-align: right;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-bottom: solid 2px #666;
}

/*==*/

section#message{
	width: 100%;
	height: 10em;
	background-color: rgba(0,0,0,0.2);
	padding-right: 10em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	top: 0;
	left: 10em;
}

section#message p{
	font-size: 1em;
	padding: 1em;
	margin: 0;
	display: block;
	float: right;
}