/* bigscreen.css */

@charset "utf-8";

html,body{
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	font-size: 10px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;	
}

html,
body,
article#bigscreenApp,
section.layer
{

}

.layer{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.1em;
}

#hostLayer2{
	z-index: 300;
}

#visitorLayer{
	z-index: 200;
}

#hostLayer1{
	z-index: 100;
}